<!doctype html>

<html lang="es" class="scrollbar">

<head>

<meta charset='utf-8'>
<meta name="viewport" content="width=device-width">

<link rel="icon" type="image/png" href="https://5sur.com/graphics/favicon.png">
<!-- remove the extra weights -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400italic,600,300,700,800|Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://5sur.com/style.css" />


<title>5Sur - Crear viaje</title>
</head>

<body id="form_page">
	<form method="post" action="https://5sur.com/createSubmit" class="card_page" id="plain_form">
		<a href="https://5sur.com/" id="form_logo"></a>
		<select name="Origin">
			<option disabled selected class="blank_option">Origen</option>
			{{range $key, $value := .}}
			<option value="{{$value.Id}}">{{$value.Name}}</option>{{end}}
		</select>
		<select name="Destination">
			<option disabled selected class="blank_option">Destino</option>
			{{range $key, $value := .}}
			<option value="{{$value.Id}}">{{$value.Name}}</option>{{end}}
		</select>
		<input type="text" name="Date" placeholder="Fecha de salida" id="date_box">
		<div id="calendar_wrapper">
			<div id="month_wrapper">
				<span id="month_left">&#9664;</span>
				<span id="month_title"></span>
				<span id="month_right">&#9654;</span>
			</div>
			<table id="calendar">
				<thead>
					<tr>
						<th>lu</th>
						<th>ma</th>
						<th>mi</th>
						<th>ju</th>
						<th>vi</th>
						<th>sa</th>
						<th>su</th>
					</tr>
				</thead>
			</table>
		</div>
		<input type="text" name="Time" placeholder="Time leaving">
		<select name="Seats">
			<option disabled selected class="blank_option">Cupos</option>
			<option value="1">1</option>
			<option value="2">2</option>
			<option value="3">3</option>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
		</select>
		<input type="text" name="Fee" placeholder="Precio">
		<input type="hidden" name="Listing" value="">
		<input type="submit" value="Crear viaje">
		<a href="https://5sur.com/" id="discard_form">Cancelar</a>
	</form>
<script src="https://5sur.com/formScript.js"></script>
<script src="https://5sur.com/calendarScript.js"></script>

</body>

</html>