<!doctype html>

<html lang="es">

<head>

<meta charset='utf-8'>
<meta name="viewport" content="width=device-width">

<link rel="icon" type="image/png" href="https://5sur.com/graphics/favicon.png">
<!-- remove the extra weights -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400italic,600,300,700,800|Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://5sur.com/style.css" />


<title>5Sur - {{.Header.Title}}</title>

</head>

<body class="header_padding">

{{template "header.html" .}}

<div class="sidebar" id="main_sidebar">
	<a href="https://5sur.com/u/{{.Header.Username}}">
		<img src="https://5sur.com/{{if eq .Header.UserImage false}}default{{else}}images/{{.Header.Username}}{{end}}.png" alt="user">
		<span>{{.Header.Username}}</span>
	</a>
	<ul>
		<li class="message_icon selected_dark">
			<a href="https://5sur.com/dashboard/messages">Messages</a>
		</li>
		<li class="listings_icon">
			<a href="https://5sur.com/dashboard/listings">My Listings</a>
		</li>
		<li class="reservation_icon">
			<a href="https://5sur.com/dashboard/reservations">My Reservations</a>
		</li>
		<li class="settings_icon">
			<a href="https://5sur.com/dashboard/settings">Settings</a>
		</li>
	</ul>
</div>

<div class="sidebar messages_sidebar" id="sub_sidebar">
	<h2>Messages</h2>
	<ul>
		{{range $key, $value := .Body.SidebarMessages}}
		{{if eq $value.Id $.Body.MessageThread.UserId}}
		<li class="selected_light">{{else}}
		<li>{{end}}
			<a href="https://5sur.com/dashboard/messages?i={{$value.Id}}">
				<img src="{{$value.Picture}}">
				<span class="sidebar_text">{{$value.Name}}</span>
				{{if ne $value.Count 0}}
				<span class="sidebar_alert">{{$value.Count}}</span>{{end}}
			</a>
		</li>
		{{end}}
	</ul>
</div>

<div id="dash_content" class="dash_messages">
	{{if ne .Body.MessageThread.UserId 0}}
	<div id="dash_title">
		<h3>Conversation with {{.Body.MessageThread.Name}}</h3>
		<span id="dash_message_warning"><a href="https://5sur.com/">Expires {{.Body.MessageThread.Expires}}</a></span>
	</div>
	{{range $key, $value := .Body.MessageThread.Messages}}
	<div class="dash_message">
		<a href="https://5sur.com/u/{{if eq $value.Sent true}}{{$.Header.Username}}{{else}}{{$.Body.MessageThread.Name}}{{end}}"><img src="{{if eq $value.Sent true}}{{$.Body.MessageThread.UserPicture}}{{else}}{{$.Body.MessageThread.Picture}}{{end}}" alt="user image"></a>
		<span class="dash_message_name">
			{{if eq $value.Sent true}}{{$.Header.Username}}{{else}}{{$.Body.MessageThread.Name}}{{end}}
		</span>
		<span class="dash_message_timestamp">{{$value.Date}}</span>
		<p>{{$value.Message}}</p>
	</div>
	{{end}}
	<div id="dash_message_reply" class="dash_message">
		<form method="post" action="https://5sur.com/messageSubmit">
			<input type="hidden" name="Recipient" value="{{.Body.MessageThread.UserId}}">
			<textarea name="Message" placeholder="Write a reply... " id="message_text"></textarea>
			<input type="submit" value="Send">
		</form>
	</div>
	{{end}}
</div>

<script src="https://5sur.com/dashboard.js"></script>
<script src="https://5sur.com/header.js"></script>
</body>

</html>