<!doctype html>

<html lang="es">

<head>

<meta charset='utf-8'>
<meta name="viewport" content="width=device-width">

<link rel="icon" type="image/png" href="https://5sur.com/graphics/favicon.png">
<!-- remove the extra weights -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400italic,600,300,700,800|Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://5sur.com/style.css" />


<title>5Sur - {{.Header.Title}}</title>

</head>

<body class="header_padding">

{{template "header.html" .}}

<div class="sidebar" id="main_sidebar">
	<a href="https://5sur.com/u/{{.Header.Username}}">
		<img src="https://5sur.com/{{if eq .Header.UserImage false}}default{{else}}images/{{.Header.Username}}{{end}}.png" alt="usuario">
		<span>{{.Header.Username}}</span>
	</a>
	<ul>
		<li class="message_icon">
			<a href="https://5sur.com/dashboard/messages">Mensajes</a>
		</li>
		<li class="listings_icon">
			<a href="https://5sur.com/dashboard/listings">Mis viajes</a>
		</li>
		<li class="reservation_icon selected_dark">
			<a href="https://5sur.com/dashboard/reservations">Mis reservaciónes</a>
		</li>
		<li class="settings_icon">
			<a href="https://5sur.com/dashboard/settings">Ajustes</a>
		</li>
	</ul>
</div>

<div class="sidebar reservations_sidebar" id="sub_sidebar">
	<h2>Reservaciónes</h2>
	<ul>
		{{range $key, $value := .Body.SidebarReservations}}
		{{if eq $value.ListingId $.Body.Reservation.ListingId}}
		<li class="selected_light">{{else}}
		<li>{{end}}
			<a href="https://5sur.com/dashboard/reservations?i={{$value.ListingId}}">
				<div class="calendar_icon">
					<span class="calendar_icon_month">{{$value.Month}}</span>
					<span class="calendar_icon_day">{{$value.Day}}</span>
				</div>
				<span class="sidebar_text">{{$value.Origin}} <span class="to"></span> {{$value.Destination}}</span>
			</a>
		</li>
		{{end}}
	</ul>
</div>

<div id="dash_content" class="dash_listings">
	{{if ne .Body.Reservation.ListingId 0}}
	<div id="dash_title">
		<h3>{{.Body.Reservation.Origin}} <span class="to"></span> {{.Body.Reservation.Destination}}</h3>
		<span id="dash_listing_date">{{.Body.Reservation.Month}} {{.Body.Reservation.Day}} - {{.Body.Reservation.Time}}</span>
		<span class="bullet">&#8226;</span>
		<span id="dash_listing_seats">Registrado por {{.Body.Reservation.Seats}} {{if eq .Body.Reservation.Seats 1}}cupo{{else}}cupos{{end}}</span>
		<span class="bullet">&#8226;</span>
		<span id="dash_listing_fee">${{.Body.Reservation.Fee}}/cupo</span>
	</div>
	<div id="dash_reservation">
	<ul>
		<li id="dash_reservation_message"><a href="https://5sur.com/message?i={{.Body.Reservation.DriverId}}">Mandar mensaje al conductor</a></li>
		<li id="dash_reservation_cancel">
			<form id="delete_reservation" method="POST" action="https://5sur.com/dashboard/reservations?i={{.Body.Reservation.ListingId}}">
				<label for="delete_reservation_input">Cancela reservación 
				<input name="r" value="{{.Body.Reservation.DriverId}}" id="delete_reservation_input" type="submit">
				</label>
			</form>
		</li>
	</ul>
	</div>
	{{end}}
</div>

<script src="https://5sur.com/dashboard.js"></script>
<script src="https://5sur.com/header.js"></script>
</body>

</html>