<div id="header">
	<a href="https://5sur.com/" id="header_logo"></a>
	<ul id="nav">
		{{if ne .Header.Username ""}}
		<li id="nav_create"><a href="https://5sur.com/create"></a></li>
		<li id="nav_alert"><span>{{.Header.Alerts}}</span></li>
		<li id="nav_user">
			<img src="{{.Header.UserImage}}" alt="user">
		</li>
	</ul>
	<ul id="nav_dropdown">
		<li id="nav_alert_dropdown" class="dropdown">
			<span>{{.Header.Alerts}} Alert{{if ne .Header.Alerts 1}}s{{end}}</span>
			<ul>
				{{range $key, $value := .Header.AlertText}}{{$value}}
				{{end}}
			</ul>
		</li>
		<li id="nav_user_dropdown" class="dropdown">
			<span>{{.Header.Username}}</span>
			<ul>
				<li><a href="https://5sur.com/u/{{.Header.Username}}">Pr</a></li>
				<li><a href="https://5sur.com/dashboard">Da</a></li>
				<li><a href="https://5sur.com/logout">Lo</a></li>
			</ul>
		</li>
	</ul>
		{{else}}
		<li><a href="https://5sur.com/login" id="login_button">Login</a></li>
	</ul>
		{{end}}
</div>