<!doctype html>

<html lang="es" class="scrollbar">

<head>

<meta charset='utf-8'>
<meta name="viewport" content="width=device-width">

<link rel="icon" type="image/png" href="https://5sur.com/graphics/favicon.png">
<!-- remove the extra weights -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400italic,600,300,700,800|Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://5sur.com/style.css">


<title>5Sur - {{.Header.Title}}</title>

</head>

<body id="listings_page" class="header_padding">

{{template "header.html" .}}

<div id="search_wrapper">
	<form method="post" action="https://5sur.com/l/" id="search_form">
		<select name="Origin" id="origin_select" class="search_option">
			<option disabled {{if eq .Body.Query.Origin 0}}selected{{end}} class="blank_option">Origen</option>
			{{range $key, $value := .Body.Filter}}
			<option {{if eq $.Body.Query.Origin $value.Id}}selected{{end}} value="{{$value.Id}}">{{$value.Name}}</option>{{end}}
		</select>
		<span class="to"></span>
		<select name="Destination" id="destination_select" class="search_option">
			<option disabled {{if eq .Body.Query.Destination 0}}selected{{end}} class="blank_option">Destino</option>
			{{range $key, $value := .Body.Filter}}
			<option {{if eq $.Body.Query.Destination $value.Id}}selected{{end}} value="{{$value.Id}}">{{$value.Name}}</option>{{end}}
		</select>
		<div id="search_date_wrapper">
			<input type="text" name="Date" placeholder="Fecha" autocomplete="off" id="date_box" class="search_option time_option" value="{{.Body.Query.Date}}">
			<span class="clock"></span>
			<select name="Time" id="time_box" class="search_option time_option">
				<option disabled {{if eq .Body.Query.Time ""}}selected{{end}} class="blank_option">Tiempo</option>
			</select>
			<div id="calendar_wrapper">
				<div id="month_wrapper">
					<span id="month_left">&#9664;</span>
					<span id="month_title"></span>
					<span id="month_right">&#9654;</span>
				</div>
				<table id="calendar">
					<thead>
						<tr>
							<th>lu</th>
							<th>ma</th>
							<th>mi</th>
							<th>ju</th>
							<th>vi</th>
							<th>sa</th>
							<th>su</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	<input type="submit" name="FilterSubmit" value="Find a ride!" id="search_submit">
	</form>
</div>

<ul id="listing_items">
	{{if index .Body.Listings}}
	<li class="listing_header">
		<ul>
			<li class="list_driver">Conductor</li>
			<li>Ruta</li>
			<li class="list_fee">Precio</li>
			<li class="list_seats">Cupos</li>
			<li class="list_date">Fecha</li>
		</ul>
	</li>
	{{range $key, $value := .Body.Listings}}
	<li class="listing_item">
		<a href="https://5sur.com/reserve?l={{$value.Id}}">
			<ul>
				<li class="list_driver">
					<img src="{{$value.Picture}}">
					{{if lt $value.Rating 0}}
					<span class="negative">-{{$value.Rating}}</span>
					{{else}}
					<span class="positive">+{{$value.Rating}}</span>
					{{end}}
				</li>
				<li class="list_place">{{$value.Origin}} <span class="to"></span> {{$value.Destination}}</li>
				<li class="list_fee">{{if ne $value.Fee 0.0}}${{$value.Fee}}/seat{{else}}Free{{end}}</li>
				<li class="list_seats">{{$value.Seats}}</li>
				<li class="list_date"><span class="list_day">{{$value.Date}}</span><span class="list_time">{{$value.Time}}</span></li>
			</ul>
		</a>
	</li>
	{{end}}
	{{else}}
	No hay resultados
	{{end}}
</ul>

<script src="https://5sur.com/header.js"></script>
<script src="https://5sur.com/calendarScript.js"></script>
<script src="https://5sur.com/timeDropdown.js"></script>
</body>

</html>