<!doctype html>

<html>

<head>

<meta charset='utf-8'>
<meta name="viewport" content="width=device-width">

<link rel="icon" type="image/png" href="graphics/favicon.png">
<!-- remove the extra weights -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400italic,600,300,700,800|Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://5sur.com/style2.css" />


<title>5Sur - {{.Title}}</title>
{{.Script}}
</head>

<body id="form_page">
	<form method="post" action="https://5sur.com/login" class="form_standard" id="login_form">
		<a href="https://5sur.com/" id="form_logo"></a>
		<input type="text" name="Username" placeholder="Username">
		<input type="password" name="Password" placeholder="Password">
		{{.Captcha}}
		<input type="submit" value="Sign In">
		<a href="https://5sur.com/register.html" id="switch_form">Don't have an account?</a>
	</form>
<script src="https://5sur.com/script2.js"></script>
</body>

</html>