<!doctype html>

<html lang="es">

<head>

<meta charset='utf-8'>
<meta name="viewport" content="width=device-width">

<link rel="icon" type="image/png" href="https://5sur.com/graphics/favicon.png">
<!-- remove the extra weights -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400italic,600,300,700,800|Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://5sur.com/style.css" />


<title>5Sur - {{.Title}}</title>
{{.Script}}
</head>

<body id="form_page">
	<form method="post" action="https://5sur.com/loginSubmit" class="card_page" id="plain_form">
		<a href="https://5sur.com/" id="form_logo"></a>
		<input type="text" name="Username" placeholder="Usuario">
		<input type="password" name="Password" placeholder="Contraseña">
		{{.Captcha}}
		<label><input type="checkbox" name="Persistent" value="true">Mantener sesión iniciada</label>
		<input type="submit" value="Acceder a cuenta">
		<a href="https://5sur.com/register" id="switch_form">¿No tienes cuenta?</a>
		<a href="https://5sur.com/passwordReset" id="reset_password">¿Olvidaste tu contraseña?</a>
	</form>
<script src="https://5sur.com/formScript.js"></script>
</body>

</html>