<!doctype html>

<html>

<head>

<meta charset='utf-8'>
<meta name="viewport" content="width=device-width">

<link rel="icon" type="image/png" href="https://5sur.com/graphics/favicon.png">
<!-- remove the extra weights -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400italic,600,300,700,800|Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://5sur.com/style2.css" />


<title>5Sur - Message</title>

</head>

<body id="form_page">
	<form method="post" action="https://5sur.com/messageSubmit" class="card_page" id="plain_form">
		<a href="https://5sur.com/" id="form_logo"></a>
		<span>To: <b><a href="https://5sur.com/user">{{.Name}}</a></b></span>
		<input type="hidden" name="Recipient" value="{{.Id}}">
		<textarea name="Message" placeholder="Create a message... " id="message_text"></textarea>
		<input type="submit" value="Send Message">
		<a href="https://5sur.com/" id="discard_message">Discard message</a>
	</form>
<script src="https://5sur.com/formScript.js"></script>
<script src="https://5sur.com/messageScript.js"></script>
</body>

</html>