<!doctype html>

<html>

<head>

<meta charset='utf-8'>
<meta name="viewport" content="width=device-width">

<link rel="icon" type="image/png" href="https://5sur.com/graphics/favicon.png">
<!-- remove the extra weights -->
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,400italic,600,300,700,800|Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="https://5sur.com/style2.css" />


<title>5Sur - Reserve</title>
</head>

<body id="form_page">
	<form method="post" action="https://5sur.com/reserveSubmit" class="card_page" id="plain_form">
		<a href="https://5sur.com/" id="form_logo"></a>
		<span id="driver_info">
			<a href="https://5sur.com/user">View driver's profile</a>
		</span>
		<input type="hidden" name="Listing" value="{{.Listing.Id}}">
		<select name="Seats">
			<option disabled selected class="blank_option">Seats</option>
			{{range $key, $value := .Seats}}
			<option value="{{$value}}">{{$value}}</option>
			{{end}}
		</select>
		<textarea name="Message" placeholder="Send a note (optional)... " id="message_text"></textarea>
		<input type="submit" value="Reserve ride">
		<a href="https://5sur.com/" id="discard_form">Cancel</a>
	</form>
<script src="https://5sur.com/formScript.js"></script>

</body>

</html>