/* Get rid of unnecessary normalize rules */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin: 0;
	padding: 0;
}
	
table {
	border-collapse: collapse;
	border-spacing: 0;
}

fieldset,img,iframe { 
	border: 0;
}
	
address,caption,cite,code,dfn,em,strong,th,var {
	font-style: normal;
	font-weight: normal;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 100%;
	font-weight: normal;
}

q:before,q:after {
	content: '';
}

abbr,acronym { 
	border:0;
}
	
ul { 
	list-style: none;
}

a, a:hover, a:visited, a:active {
	text-decoration: none;
	color: inherit;
	outline: none;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.scrollbar {
	overflow-y: scroll;
}

.header_padding {
	padding-top: 75px;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #1C2224;
}

h2 {
	font-size: 25px;
	font-weight: 200;
	line-height: 100px;
	text-align: center;
	margin: 0 25px;
	border-bottom: 1px solid rgba(0,0,0,.2);
}

h3 {
	font-family: 'Bitter', serif;
	font-size: 25px;
	font-weight: 700;
	color: #2E3436;
}

h4 {
	font-size: 25px;
	font-weight: 300;
	color: #ffffff;
	margin-top: 15px;
}

/*** Header ***/
#header {
	position: absolute;
	top: 0;
	height: 75px;
	width: 100%;
	background: #ffffff;
	box-shadow: 2px 0px 2px #888888;
}

#header_logo {
	float: left;
	margin: 17px 0 0 17px;
}

#header_logo:before {
	content:url('https://5sur.com/graphics/logo_small.png');
}

#nav,#nav_dropdown {
	float: right;
	margin-right: 17px;
}

#nav > li {
	float: left;
	height: 35px;
	width: 35px;
	margin-top: 20px;
	line-height: 35px;
	cursor: pointer;
}

#nav > li+li {
	margin-left: 25px;
}

#nav > li > a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 0;
}

#nav_create {
	background: url('https://5sur.com/graphics/create.png');
	background-size: 35px; /*temp until size is 35*/
}

#nav_alert {
	position: relative;
	background: url('https://5sur.com/graphics/alert.png');
	background-size: 35px; /*temp until size is 35*/
}

#nav_alert > span {
	position: absolute;
	top: -5px;
	right: -5px;
	display: block;
	line-height: 20px;
	width: 20px;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
	background: #DE6049;
	border-radius: 100%;
}

#nav_user img {
	float: left;
	width: 35px;
	margin-right: 10px;
	border-radius: 100%;
}

#nav_dropdown {
	position: relative;
	clear: left;
}

.dropdown {
	position: absolute;
	top: -3px;
	height: 0px;
	text-align: center;
	border-radius: 5px;
	box-shadow: 0px 3px 6px -3px #98A8AD;
	overflow: hidden;
	z-index: 100;
	-webkit-transition: .3s;
	transition: .3s;
}

.dropdown:before {
	content: '';
	display: block;
	width: 0; 
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #ED6847;
}

.dropdown > span {
	border-radius: 5px 5px 0 0;
	display: inline-block;
	width: 100%;
	font-size: 14px;
	font-weight: 700;
	line-height: 50px;
	background: #ED6847;
	color: #ffffff;
}

#nav_alert_dropdown {
	right: 0;
	width: 250px;
	background: #ffffff;
}

#nav_alert_dropdown:before {
	margin: 0 70px 0 auto;
}

#nav_alert_dropdown > ul {
	display: block;
	width: 100%;
	height: 242px;
	overflow-x: hidden;
	overflow-y: auto;
}

#nav_alert_dropdown > ul > li {
	display: table;
	height: 75px;
	width: 100%;
	font-size: 14px;
	text-align: left;
	overflow: hidden;
}

#nav_alert_dropdown > ul > li:hover {
	background: #F3F3F3;
}

#nav_alert_dropdown a {
	display: table-cell;
	vertical-align: middle;
	padding: 12px 10px;
}

#nav_alert_dropdown img {
	float: left;
	width: 45px;
	margin-right: 10px;
	border-radius: 100%;
}

#nav_alert_dropdown > ul > li p {
	display: block;
	width: 150px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#nav_alert_dropdown > ul > li+li {
	border-top: 1px solid #cccccc;
}

#nav_user_dropdown {
	right: -5px;
	width: 125px;
}

#nav_user_dropdown:before {
	margin: 0 15px 0 auto;
}

#nav_user_dropdown > ul {
	background: #ffffff;
}

#nav_user_dropdown li {
	display: inline-block;
	line-height: 100px;
}

#login_button {
	font-size: 14px !important;
	color: #000000;
}

/*** Forms ***/

#form_page {
	background: #A5DCF1;
	text-align: center;
}

.card_page {
	min-width: 400px;
	width: 40%;
	margin: 50px auto 0 auto;
	padding: 80px 0;
	background: #ffffff;
	border-radius: 10px;
	box-shadow: 0px 1px 2px #98A8AD;
}

#form_logo {
	display: inline-block;
	margin-bottom: 80px;
}

#form_logo:before {
	content:url('graphics/logo2.png');
}

.card_page > input, .card_page > textarea, .card_page > img, .card_page > select, .card_page > span, .card_page > label {
	display: block;
	width: 300px;
	padding: 0 10px;
	margin: 0 auto 18px auto;
	border: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
	color: #4D595E;
	border-radius: 4px;
}

.card_page > label {
	text-align: left;
	line-height: 35px;
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.card_page input[type="checkbox"] {
	margin-right: 10px;
	cursor: pointer;
}

.card_page input[type="text"], .card_page input[type="password"], .card_page select {
	height: 50px;
	outline: none;
	font-weight: 600;
	border: 1px solid #cccccc;
}

.card_page input[type="text"]:focus, .card_page input[type="password"]:focus, .card_page select:focus, .card_page textarea:focus {
	border: 2px solid #4DBBE6;
	padding-left: 9px;
}

.card_page input[type="submit"] {
	height: 50px;
	color: #ffffff;
	background: #4DBBE6;
	cursor: pointer;
}

.card_page textarea {
	display: block;
	height: 205px;
	outline: none;
	padding: 10px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #4D595E;
	border: 1px solid #cccccc;
}

.card_page textarea:focus {
	padding: 9px;
}

.card_page > p {
	margin: 0 auto;
	max-width: 500px;
	padding: 0 10px;
	margin-bottom: 15px;
}

#switch_form {
	font-weight: 300;
	font-size: 14px;
	color: #32A2C7;
}

#reset_password {
	display: block;
	margin: 10px 0;
	font-weight: 300;
	font-size: 14px;
	color: #32A2C7;
}

.g-recaptcha {
	display: block;
	width: 300px;
	margin: 0 auto 18px auto;
}

#discard_form {
	font-weight: 700;
	font-size: 14px;
	color: #F2533C;
}

#driver_info {
	font-size: 14px;
	font-weight: 400;
	width: 155px;
	outline: none;
	line-height: 30px;
	color: #32A2C7;
	-webkit-transition: .35s;
	transition: .35s;
}

#driver_info > a {
	display:block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}

#driver_info:hover {
	background: #eeeeee;
}

#upload_preview {
	margin: 0 auto;
}

#upload_hidden {
	display: absolute;
	display: none;
}

#upload_preview img {
	width: 100px;
	height: 100px;
	border-radius: 100%;
}

.card_page input[type="file"] {
	padding: 0;
	height: 35px;
	font-family: 'Open Sans', sans-serif;
}

#current_picture {
	width: 300px;
	font-family: 'Bitter', sans-serif;
	font-weight: 700;
	margin: 0 auto 50px auto;
	color: #3A4045;
}

#current_picture img {
	display: block;
	border-radius: 100%;
	margin: 15px auto 0 auto;
}

/*** Listings ***/

/* Listing filter */

#search_wrapper {
	width: 100%;
	margin-bottom: 50px;
	padding-top: 80px;
	padding-bottom: 25px;
	background: #E5E5E5;
	text-align: center;
}

.search_option {
	width: 150px;
	height: 30px;
	padding: 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}

.blank_option {
	display: none;
}

.time_option {
	max-width: 100px;
}

/* Calendar widget */

#calendar_wrapper {
	display: hidden;
	overflow: hidden;
	height: 0px;
	margin-left: auto;
	margin-right: auto;
	background: #ffffff;
	opacity: 0;
	box-shadow: 0px 5px 5px #888888;
	-webkit-transition: .35s;
	transition: .35s;
}

#calendar {
	position: relative;
	height: 457px;
	color: #333333;
}

#month_wrapper {
	font-family: 'Bitter', serif;
	color: #ffffff;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-weight: 700;
	-webkit-transition: .75s;
	transition: .75s;
}

#month_wrapper > span {
	padding: 0 10px;
	cursor: pointer;
	-webkit-transition: .2s;
	transition: .2s;
}

#month_left:hover, #month_right:hover {
	background: rgba(0, 0, 0, 0.5); 
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

#month_left {
	float: left;
}

#month_right {
	float: right;
}

#calendar thead {
	border-bottom: 1px solid #cccccc;
}

#calendar tbody {
	position: absolute;
	left: 0;
	-webkit-transition: left .75s;
	transition: left .75s;
}

#calendar th {
	font-family: 'Bitter', serif;
	width: 65px;
	height: 65px;
	font-weight: 700;
}

#calendar td {
	width: 65px;
	height: 65px;
	text-align: center;
	-webkit-transition: .1s;
	transition: .1s;
}

#calendar td:hover {
	cursor: pointer;
	color: #ffffff;
	background: #5A6165;
}

.other_month {
	color: #ACACAC;
	background: #E2E6E7;
}

#search_submit {
	height: 30px;
	padding: 0 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
}

.to {
	color: #ACACAC;
	padding: 0 5px;
}

/* Listing items */

#listings_page {
}

#listing_items {
	margin: 0 auto;
	max-width: 800px;
	height: 500px;
}

#listing_items > li li,  #listing_items > li li{
	display: inline-block;
	line-height: 50px;
	vertical-align: top;
	text-align: left;
}

.listing_header {
	padding: 0 12px;
}

.listing_item a {
	display: block;
	height: 100%;
	width: 100%;
	padding: 12px 12px;
	border-top: 1px solid #cccccc;
}

.listing_item:hover {
	background: #eee;
}

.list_fee, .list_date, .list_seats {
	width: 100px;
}

.list_fee, .list_seats, .list_date {
	float: right;
}

.list_driver {
	width: 150px;
}

.list_driver > img {
	float: left;
	width: 50px;
	border-radius: 100%;
}

.list_driver > span {
	float: left;
	margin-left: 10px;
	font-weight: 300;
}

.positive {
	color: #4AA420;
}

.negative {
	color: #A02510;
}

.list_date > span {
	display: block;
}

.list_day {
	margin-top: 3px;
	line-height: 22px;
	font-weight: 700;
}

.list_time {
	line-height: 22px;
	font-size: 14px;
	color: #5C666D;
}

/*** Dashboard Page ***/

.sidebar {
	float: left;
	min-height: 100%;
	font-weight: 600;
}

.sidebar li {
	width: 100%;
}

#main_sidebar li:hover {
	background-color: rgba(255,255,255,.1);
}

#main_sidebar {
	width: 100px;
	background: #2b2e37;
}

#main_sidebar li {
	height: 100px;
	background-repeat: no-repeat;
	background-position: center;
}

.sidebar a {
	display: block;
	height: 100%;
	width: 100%;
}

.message_icon{background-image: url("https://5sur.com/graphics/message.png");}
.listings_icon{background-image: url("https://5sur.com/graphics/listings.png");}
.reservation_icon{background-image: url("https://5sur.com/graphics/reservations.png");}
.settings_icon{background-image: url("https://5sur.com/graphics/settings.png");}

.selected_dark {
	background-color: rgba(255,255,255,.1);
}
.selected_light {
	background-color: rgba(0,0,0,.08);
	font-weight: 700;
}

#sub_sidebar {
	position: relative;
	width: 350px;
	font-weight: 400;
	font-size: 16px;
	box-shadow: 2px 4px 4px -2px #888888;
}

#sub_sidebar li {
	height: 75px;
	line-height: 75px;
}

#sub_sidebar li:hover {
	background-color: rgba(0,0,0,.08);
}

#sub_sidebar li > a > * {
	float: left;
}

#sub_sidebar img {
	width: 45px;
	border-radius: 100%;
	margin-top: 15px;
	margin-left: 25px;
	margin-right: 25px;
}

.calendar_icon {
	width: 35px;
	height: 35px;
	margin-top: 20px;
	margin-left: 25px;
	margin-right: 25px;
	border-radius: 20%;
	overflow: hidden;
	line-height: 80px;
	font-weight: 600;
	text-align: center;
	box-shadow: 2px 2px 5px -2px #888888;
}

.calendar_icon_month {
	display: block;
	background: #E26865;
	font-size: 10px;
	color: #ffffff;
	line-height: 15px;
}

.calendar_icon_day {
	display: block;
	height: 100%;
	background: #ffffff;
	font-size: 12px;
	line-height: 19px;
}

/* Add max-width to sidebar_text */

.sidebar_alert {
	float: right !important;
	width: 20px;
	margin-top: 27px;
	margin-right: 25px;
	background: #ED4141;
	border-radius: 100%;
	line-height: 20px;
	font-size: 14px;
	font-weight: 700;
	color: #ffffff;
	text-align: center;
}

#dash_content {
	margin-left: 450px;
	text-align: center;
}

#dash_title {
	position: relative;
	min-height: 100px;
	margin: 0 25px;
	padding-top: 18px;
	text-align: left;
	border-bottom: 1px solid #cccccc;
}

#dash_title > span {
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
}

#dash_title > span+span {
	margin-left: 10px;
}

#delete_form {
	position: absolute;
	right: 35px;
	top: 32px;
	font-size: 0;
}

#delete_form_input {
	display:inline-block;
	vertical-align: top;
	width: 35px;
	height: 35px;
	font-size: 0;
	border: 0;
	background: url("https://5sur.com/graphics/x.png");
	background-size: 35px;
	cursor: pointer;
}

#dash_message_warning {
	font-weight: 600 !important;
	color: #E9534B;
}

/* dash listings */

.passengers {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	margin: 50px 25px 0 25px;
	border-radius: 5px;
	box-shadow: 1px 1px 5px -2px #888888;
	text-align: left;
	line-height: 0;
	overflow: hidden;
}

.passengers > span {
	text-align: center;
	display: block;
	padding: 0 25px;
	line-height: 75px;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	font-weight: 700;
	color: #ffffff;
	background: #2b2e37;
}

.passengers > ul > li {
	padding: 0 25px;
}

.passengers li {
	display: inline-block;
	width: 100%;
	min-height: 75px;
	font-weight: 600;
	font-size: 14px;
	line-height: normal;
}

.pending_passenger_info {
	display: table;
	float: left;
	width: 160px;
}

.pending_passenger_info > p {
	height: 75px;
	display: table-cell;
	vertical-align: middle;
}

.pending_passenger_info span {
	display: block;
	font-size: 12px;
	font-weight: 400;
	color: #5E6468;
}

.passengers li+li {
	border-top: 1px solid rgba(0,0,0,.1);
}

.passengers img {
	float: left;
	margin-top: 12px;
	margin-right: 25px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.passenger_seats {
	float: right;
	line-height: 75px;
}

.passenger_form {
	display: inline-block;
	float: right;
	margin-left: 10px;
	line-height: 75px;
	font-size: 0;
}

.passenger_form > input {
	vertical-align: middle;
	width: 20px;
	height: 20px;
	font-size: 0;
	border: 0;
	cursor: pointer;
}

.passenger_form > input+input {
	margin-left: 5px;
}

#passenger_accept {	background: url("https://5sur.com/graphics/check.png"); }
#passenger_reject { background: url("https://5sur.com/graphics/x.png"); }
#passenger_message { 
	background: url("https://5sur.com/graphics/envelope.png"); 
	background-position: center;
	background-repeat: no-repeat;
}

/* dash messages */
.dash_message {
	width: 400px;
	min-height: 50px;
	margin: 20px 0 0 25px;
	padding-bottom: 20px;
	font-size: 14px;
	text-align: left;
	overflow: hidden;
}

.dash_message img {
	float: left;
	width: 45px;
	margin-right: 15px;
	border-radius: 100%;
}

.dash_message > p {
	margin-top: 3px;
	margin-left: 60px;
	color: #373F42;
}

.dash_message_name {
	font-weight: 600 !important;
}

.dash_message_timestamp {
	margin-left: 5px;
	color: #BCBFC2;
}

#dash_message_reply textarea {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	width: 330px;
	height: 72px;
	padding: 5px 10px;
	border: 1px solid #cccccc;
	color: #4D595E;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

#dash_message_reply input[type="submit"] {
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 600;
	width: 70px;
	height: 72px;
	padding: 5px 10px;
	border: 0;
	color: #ffffff;
	background: #4DBBE6;
	cursor: pointer;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* dash reservations */

#dash_reservation {
	margin: 20px 0 0 25px;
	text-align: left;
	font-weight: 700;
}

#dash_reservation li {
	background-repeat: no-repeat;
	background-position: center left;
	line-height: 45px;
}

#dash_reservation a {
	padding-left: 25px;
}

#dash_reservation_message {
	background: url("https://5sur.com/graphics/check.png");
}

#dash_reservation_cancel {
	background: url("https://5sur.com/graphics/x.png");
}

#delete_reservation > label {
	padding-left: 25px;
	cursor: pointer;
}

#delete_reservation_input {
	font-size: 0;
	border: 0;
	background: none;
}

/*** User Page ***/
.user_page {
	height: 100%;
	background: #3A5A6D;
}

#user_sidebar {
	position: relative;
	float: left;
	width: 35%;
	height: 100%;
	font-size: 0;
	background: #3A5A6D;
	text-align: center;
	overflow: hidden;
}

#user_sidebar > img {
	margin-top: 100px;
	border-radius: 100%;
}

#user_sidebar > span {
	display: block;
	font-family: 'Bitter';
	font-size: 22px;
	font-weight: 600;
}

#sidebar_positive {
	color: #ECE45B;
}

#sidebar_negative {
	color: #992D0D;
}

.donut_chart {
	position: relative;
	display: inline-block;
	width: 215px;
	height: 225px;
}

.donut_chart canvas {
	position: absolute;
}

#chart1 canvas {
	right: 0;
}

#chart2 canvas {
	left: 0;
}

.donut_labels {
	cursor: pointer;
	border-radius: 100%;
	opacity: 0;
	-webkit-transition: .4s;
	transition: .4s;
}

.donut_labels:hover {
	opacity: 1;
}

#user_comments {
	float: right;
	width: 65%;
	min-height: 100%;
	background: #F8F7F3;
}

#user_comments > span {
	display: block;
	font-family: 'Bitter', serif;
	font-weight: 300;
	font-size: 32px;
	color: #333333;
	margin: 3%;
}

#user_comments > p {
	margin: 3%;
}

#user_comments > ul {
	font-size: 0;
	margin-left: 3%;
}

.comment {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	margin-bottom: 25px;
	width: 30%;
	margin-right: 3%;
}

.rating {
	font-size: 50px;
	line-height: 75px;
	text-align: center;
	color: #ffffff;
	float: left;
	width: 75px;
	height: 75px;
	margin-right: 10px;
}

.rating_positive {
	background: #27AF61;
}

.rating_negative {
	background: #EC4137;
}

.comment_text {
	display: block;
	font-size: 14px;
	color: #666666;
	min-height: 75px;
	margin-right: 25px;
	margin-left: 85px;
}

.comment_date {
	display: block;
	font-size: 12px;
	color: #888888;
	text-align: right;
	margin-right: 25px;
}

@media all and (max-width: 1255px) {
	.donut_chart {
		width: 225px;
	}

	#user_sidebar {
		float: none;
		height: 455px;
		width: 100%;
		padding: 0;
	}

	#user_sidebar > img {
		margin-top: 25px;
	}

	.donut_chart {
	}

	#user_comments {
		width: 100%;
		overflow: none;
	}

	#user_comments > span {
		font-size: 26px;
	}
}

@media all and (max-width: 858px) {
	.comment {
		width: 47%;
	}
}

@media all and (max-width: 500px) {
	#user_sidebar {
		height: 225px;
	}

	.donut_chart {
		display: none;
	}

	#user_comments > span {
		font-size: 22px;
	}

	.comment {
		width: 97%;
	}
}